<h2>{{title}}</h2>

<input type="checkbox" [(ngModel)]="checkWeek" (change) = "updateEmployeeList()"> 
<label>This week</label>

<input type="checkbox" [(ngModel)]="checkMonth" (change) = "updateEmployeeList()" > 
<label>This month</label>

<angular2-multiselect 

    [data]="dropdownList" 
    [(ngModel)]="selectedDepartments" 
    [settings]="dropdownSettings"
    (onSelect)="updateEmployeeList()" 
    (onDeSelect)="updateEmployeeList()"
    (onSelectAll)="updateEmployeeList()"
    (onDeSelectAll)="updateEmployeeList()"
    

    ></angular2-multiselect>

<h4>Employees with birthdays fitting the above filter!</h4>

<ul>
  <li *ngFor="let employee of listView_Employees">
    Id: {{employee.id}}  
    Name: {{employee.name}}
    {{employee.surname}}
    Birthday: {{employee.birthdate.toDateString()}}
      
  </li>

</ul>