<h2>{{title}}</h2>

<input type="checkbox" name="checkbox" [(ngModel)]="currentWeek" (change) = "updateFilter()"> 
<label>This week</label>

<input type="checkbox" [(ngModel)]="currentMonth" (change) = "updateFilter()" > 
<label>This month</label>

<angular2-multiselect 

    [data]="dropdownList" 
    [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" 
    >

</angular2-multiselect>

<h4>Employees with birthdays fitting the above filter!</h4>

<ul>
  <li *ngFor="let employee of listOfEmployees">
    {{employee.id}}  
    {{employee.name}}
    {{employee.surname}}
    {{employee.birthdate}}
      
  </li>

</ul>